#-------------------------
# Operating Specific Junk Files
#-------------------------

# OS X
.DS_Store
.AppleDouble
.LSOverride

# OS X Thumbnails
._*

# Windows image file caches
Thumbs.db
ehthumbs.db
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# Linux
*~

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

#-------------------------
# Environment Files
#-------------------------
# These should never be under version control,
# as it poses a security risk.
.env
.vagrant
Vagrantfile

#-------------------------
# Temporary Files
#-------------------------
/writable/cache/*
!/writable/cache/index.html

/writable/logs/*
!/writable/logs/index.html

/writable/session/*
!/writable/session/index.html

/writable/uploads/*
!/writable/uploads/index.html

/writable/debugbar/*
!/writable/debugbar/index.html

php_errors.log

#-------------------------
# User Guide Temp Files
#-------------------------
/user_guide_src/build/*
/user_guide_src/cilexer/build/*
/user_guide_src/cilexer/dist/*
/user_guide_src/cilexer/pycilexer.egg-info/*

#-------------------------
# Test Files
#-------------------------
/tests/coverage*

# Don't save phpunit under version control.
/phpunit

#-------------------------
# Composer
#-------------------------
vendor/

#-------------------------
# IDE / Development Files
#-------------------------

# Modules Testing
_modules/*

# phpenv local config
.php-version

# Jetbrains editors (PHPStorm, etc)
.idea/
*.iml

# NetBeans
/nbproject/
/build/
/nbbuild/
/dist/
/nbdist/
/nbactions.xml
/nb-configuration.xml
/.nb-gradle/

# Sublime Text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
.phpintel
/api/

# Visual Studio Code
.vscode/

/results/
/phpunit*.xml

# Node.js / Tailwind Dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm/

# Environment Backups
.env.*
!.env.example

# Composer executable
composer.phar

# Database Dumps & SQLite
*.sql
*.sqlite
*.sqlite3
*.db

# Backup & Log Files Universal
*.bak
*.swp
*.log

# Mac OS X ekstra hidden files
.Spotlight-V100
.Trashes

# 1. Aturan untuk data_ruangan dan data_soal
/public/data_ruangan/*
/public/data_soal/*
!/public/data_ruangan/index.html
!/public/data_soal/index.html

# 2. Abaikan SEMUA isi di dalam folder public/uploads/
/public/uploads/*

# 3. Pengecualian: Izinkan Git membaca folder audio dan soal
!/public/uploads/audio/
!/public/uploads/soal/

# 4. Abaikan semua isi di dalam folder audio dan soal tersebut
/public/uploads/audio/*
/public/uploads/soal/*

# 5. Pengecualian akhir: Izinkan file index.html untuk diupload
!/public/uploads/audio/index.html
!/public/uploads/soal/index.html